@{
    ViewBag.Title = "Duvidas? Fale com a gente";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    R. João do Patrocínio, 43<br />
    Macaé - RJ 27939-200<br />
    <abbr title="Telefone">P:</abbr>
    (22) 2773-3950
</address>

<address>
    <strong>Fale Conosco</strong>   <a href="mailto:duvidas@suprimarpapelaria.com.br">duvidas@suprimarpapelaria.com.br</a><br />
    <strong>Vendas:</strong> <a href="mailto:vendas@suprimarpapelaria.com.br">vendas@suprimarpapelaria.com.br</a>
</address>